[user]
	name = Guilherme Amadio
	email = guilherme@amadio.org
	signingkey = 0x163f3352a3b4f9fb

[github]
	user = amadio

[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space
	autocrlf = input

[alias]
	unstage = reset HEAD --
	full-log = log --all --decorate --graph --oneline
	sync = fetch --all -t -p
	fixup = commit --amend --no-edit

[http]
	cookiefile = /home/amadio/.gitcookies
	emptyAuth = true

[color]
	ui = true

[color "diff"]
	old = red bold
	new = green bold
	meta = cyan bold
	frag = yellow bold
	func = blue bold
	whitespace = red reverse

[commit]
	gpgsign = true

[diff]
	algorithm = patience

[fetch]
	prune = true

[merge]
	tool = vimdiff

[pager]
	diff = diff-highlight | less
	show = diff-highlight | less

[pull]
	ff = only
	rebase = merges

[push]
	default = current

[rebase]
	autoSquash = true
	autoStash = true
[status]
	short = true
	branch = true
