[user]
	name = Guilherme Amadio
	email = guilherme.amadio@gmail.com
	signingkey = 0x163f3352a3b4f9fb

[github]
	user = amadio

[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space

[alias]
	unstage = reset HEAD --
	full-log = log --all --decorate --graph --oneline
	sync = fetch --all -t -p

[http]
	cookiefile = /home/amadio/.gitcookies

[color]
	ui = true

[color "diff"]
	old = red bold
	new = green bold
	meta = cyan bold
	frag = yellow bold
	func = blue bold
	whitespace = red reverse

[commit]
	gpgsign = true

[diff]
	algorithm = patience

[merge]
	tool = vimdiff

[pull]
	ff = only
	rebase = preserve

[push]
	default = current

[pager]
	diff = diff-highlight | less
	show = diff-highlight | less
